<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/lib/datatables/1.10.15/jquery.dataTables.css">
    <div th:include="admin/common :: head"></div>
    <link rel="stylesheet" type="text/css" href="/css/admin/house-list.css">

    <!--[if lt IE 9]>
    <script type="text/javascript" src="/lib/html5shiv.js"></script>
    <script type="text/javascript" src="/lib/respond.min.js"></script>

    <![endif]-->
    <title>订单列表</title>
    <link href="/css/main.css" rel='stylesheet' type='text/css'/>
    <link href="/css/index.css" rel='stylesheet' type='text/css'/>
</head>
<body>
<header th:replace="/student/common::header"></header>
<div class="text-c">

</div>

<div class="page-container">
    <div class="text-c">
        <span class="select-box inline">
            <select id="city" name="city" class="select">
                <option value="">全部订单</option>
            </select>
        </span>
        <span class="select-box inline">
            <select id="houseStatus" name="houseStatus" class="select">
            <option value="">全部</option>
                <option value="0">已完成</option>
                <option value="1">待审核订单</option>
                <option value="2">进行中订单</option>
                <option value="3">申请撤销</option>
            </select>
		</span> 创建时间：
        <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'createTimeMax\')||\'%y-%M-%d\'}' })"
               id="createTimeMin" class="input-text Wdate" style="width:110px;">
        -
        <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'createTimeMin\')}',maxDate:'%y-%M-%d' })"
               id="createTimeMax" class="input-text Wdate" style="width:110px;">
        <input type="text" name="houseTitle" id="houseTitle" placeholder=" 维修物品" style="width:250px" class="input-text">
        <button id="houseSearch" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i>
            搜维修单
        </button>
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
           href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i>
        </a>
    </div>
    <div class="mt-20">
        <table id="data-table"
               class="table table-border table-bordered table-bg table-hover table-sort table-responsive"
               style="width: 100%">
            <thead>
            <tr class="text-c">
                <th width="15">ID</th>
                <th>联系人</th>
                <th>联系电话</th>
                <th>维修员工号</th>
                <th>维修地址</th>
                <th>维修描述</th>
                <th>评价信息</th>
                <th>创建时间</th>
                <th>发布状态</th>
                <th width="80">操作</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<footer th:include="admin/common :: footer"></footer>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.15/jquery.dataTables.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="/static/js/admin/house-list.js"></script>
</body>
</html>