<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="Content-language" content="zh-CN"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="applicable-device" content="pc">

    <title>维修管理</title>
    <meta name="description" content="维修管理"/>
    <meta name="keywords" content="维修"/>
    <link href="/css/main.css" rel='stylesheet' type='text/css'/>
    <link href="/css/index.css" rel='stylesheet' type='text/css'/>
</head>
<body>
<header th:replace="/worker/common :: header"></header>


<h2>宿舍维修管理系统</h2>

<div th:include="/worker/common :: footer"></div>
</body>
</html>